@font-face {
    font-family: Glegoo;
    src: url('../../../res/fonts/Glegoo-Regular.ttf');
}

.anchorPane {
    -fx-font-family: Glegoo;
}

#tela-login {
    -fx-background-image: url("../../../res/design/telas/CadastroConvidado.png");
    /*-fx-background-size: cover;*/
    /*-fx-background-repeat: no-repeat;*/
    -fx-font-family: Glegoo;
}

 .titulos {
    -fx-background-image: url("../../../res/design/telas/login.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-font-family: Glegoo;
}

.botao {
    -fx-background-radius: 0; /*Remove as bordas arredondadas dos botoes*/
    -fx-cursor: hand;
    -fx-margin: 600px;
}

#check {
    widht: 5px;
    height: 5px;
}

#botao-login {
    -fx-background-color: #EF3E36;
}

#botao-cadastro {
    -fx-background-color: #2E282A;
}

.campo-formulario {
    -fx-background-radius: 0;
    -fx-border-width: 0 0 1 0;
    -fx-focus-color: transparent; /*Deixa o focus dos campos transparentes*/
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #2E282A transparent;
}

#gambiarra {
    -fx-pos: 100px;
}

#tela-cadastro-cliente {
    -fx-font-family: Glegoo;
    -fx-background-image: url("../../../res/TELAS/cadastro-cliente.png");
    -fx-background-size: cover;
    -fx-marginm-bottom: 500px;
}

#tela-cadastro-fornecedor {
    -fx-font-family: Glegoo;
    -fx-background-image: url("../../../res/TELAS/cadatro-fornecedor.png");
    -fx-background-size: cover;
    -fx-marginm-bottom: 500px;
}

.texto-voltar {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#botao-tela-cadastro {
    -fx-background-color: #EF3E36;
}

.botao-menu-superior {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.esconder-tela {
    visibility: hidden;
}

#tela-cadastro-fornecedor {
}


